In [107]:
!pip install -r local.requirements.txt 2>/dev/null

Requirement already satisfied: rectools==0.4.1 in /home/partnadem/.pyenv/versions/3.9.12/envs/wsl-3.9.12/lib/python3.9/site-packages (from -r local.requirements.txt (line 1)) (0.4.1)

In [119]:
from pprint import pprint
import copy

import numpy as np
import pandas as pd

from tqdm.auto import tqdm

from implicit.nearest_neighbours import TFIDFRecommender, BM25Recommender

from rectools import Columns
from rectools.dataset import Interactions, Dataset
from rectools.metrics import Precision, Recall, MeanInvUserFreq, Serendipity, MAP, calc_metrics, NDCG
from rectools.models import ImplicitItemKNNWrapperModel, RandomModel, PopularModel
from rectools.model_selection import TimeRangeSplitter

In [109]:
%%time
!wget -q https://files.grouplens.org/datasets/movielens/ml-1m.zip -O ml-1m.zip
!unzip -o ml-1m.zip
!rm ml-1m.zip

Archive:  ml-1m.zip
  inflating: ml-1m/movies.dat
  inflating: ml-1m/ratings.dat
  inflating: ml-1m/README
  inflating: ml-1m/users.dat
CPU times: user 88 ms, sys: 20.3 ms, total: 108 ms
Wall time: 5.37 s

In [110]:
ratings = pd.read_csv(
    "ml-1m/ratings.dat",
    sep="::",
    engine="python",
    header=None,
    names=[Columns.User, Columns.Item, Columns.Weight, Columns.Datetime],
)

ratings["datetime"] = pd.to_datetime(ratings["datetime"] * 10 ** 9)
print("Time period")
ratings["datetime"].min(), ratings["datetime"].max()

movies = pd.read_csv(
    "ml-1m/movies.dat", 
    sep="::",
    engine="python",
    header=None,
    names=[Columns.Item, "title", "genres"],
    encoding_errors="ignore",
)

ratings.head()

Time period

   user_id  item_id  weight            datetime
0        1     1193       5 2000-12-31 22:12:40
1        1      661       3 2000-12-31 22:35:09
2        1      914       3 2000-12-31 22:32:48
3        1     3408       4 2000-12-31 22:04:35
4        1     2355       5 2001-01-06 23:38:11

In [111]:
interactions = Interactions(ratings)
del ratings
interactions.df.head()

   user_id  item_id  weight            datetime
0        1     1193     5.0 2000-12-31 22:12:40
1        1      661     3.0 2000-12-31 22:35:09
2        1      914     3.0 2000-12-31 22:32:48
3        1     3408     4.0 2000-12-31 22:04:35
4        1     2355     5.0 2001-01-06 23:38:11

In [112]:
RANDOM_STATE=32
K_RECOS=10
N_SPLITS=3

In [113]:
n_splits = N_SPLITS

splitter = TimeRangeSplitter(
    test_size="14D",
    n_splits=n_splits,
    filter_already_seen=True,
    filter_cold_items=True,
    filter_cold_users=True,
)

splitter.get_test_fold_borders(interactions)

[(Timestamp('2003-01-18 00:00:00', freq='14D'),
  Timestamp('2003-02-01 00:00:00', freq='14D')),
 (Timestamp('2003-02-01 00:00:00', freq='14D'),
  Timestamp('2003-02-15 00:00:00', freq='14D')),
 (Timestamp('2003-02-15 00:00:00', freq='14D'),
  Timestamp('2003-03-01 00:00:00', freq='14D'))]

In [114]:
selected_models = {
    "random": RandomModel(random_state=42),
    "popular": PopularModel(),
    "most_raited": PopularModel(popularity="sum_weight"),
    "tfidf_k=5": ImplicitItemKNNWrapperModel(model=TFIDFRecommender(K=5)),
    "tfidf_k=10": ImplicitItemKNNWrapperModel(model=TFIDFRecommender(K=10)),
    "bm25_k=10_k1=0.05_b=0.1": ImplicitItemKNNWrapperModel(model=BM25Recommender(K=5, K1=0.05, B=0.1)),
}

metrics = {
    "miuf-1": MeanInvUserFreq(k=1),
    "miuf-5": MeanInvUserFreq(k=5),
    "miuf-10": MeanInvUserFreq(k=10),
    "ndcg-1": NDCG(k=1),
    "ndcg-5": NDCG(k=5),
    "ndcg-10": NDCG(k=10),
    "recall-1": Recall(k=1),
    "recall-5": Recall(k=5),
    "recall-10": Recall(k=10),
    "map-1": MAP(k=1),
    "map-5": MAP(k=5),
    "map-10": MAP(k=10),
    "serendipity-1": Serendipity(k=1),
    "serendipity-5": Serendipity(k=5),
    "serendipity-10": Serendipity(k=10),
    "precision-1": Precision(k=1),
    "precision-5": Precision(k=5),
    "precision-10": Precision(k=10),
}

In [115]:
def compute_metrics(models, metrics, splitter, top_k):
    results = []
    fold_iterator = splitter.split(interactions, collect_fold_stats=True)

    for train_ids, test_ids, fold_info in tqdm((fold_iterator), total=N_SPLITS):
        print(f"\n==================== Fold {fold_info['i_split']}")
        pprint(fold_info)

        df_train = interactions.df.iloc[train_ids]
        dataset = Dataset.construct(df_train)

        df_test = interactions.df.iloc[test_ids][Columns.UserItem]
        test_users = np.unique(df_test[Columns.User])

        catalog = df_train[Columns.Item].unique()

        for model_name, model in models.items():
            current_model = copy.deepcopy(model)

            current_model.fit(dataset)
            recos = current_model.recommend(
                users=test_users,
                dataset=dataset,
                k=top_k,
                filter_viewed=True,
            )
            metric_values = calc_metrics(
                metrics,
                reco=recos,
                interactions=df_test,
                prev_interactions=df_train,
                catalog=catalog,
            )
            res = {"fold": fold_info["i_split"], "model": model_name}
            res.update(metric_values)
            results.append(res)

    return results

In [116]:
compute_metrics(selected_models, metrics, splitter, K_RECOS)

  0%|          | 0/3 [00:00<?, ?it/s]

==================== Fold 0
{'end': Timestamp('2003-02-01 00:00:00', freq='14D'),
 'i_split': 0,
 'start': Timestamp('2003-01-18 00:00:00', freq='14D'),
 'test': 630,
 'test_items': 540,
 'test_users': 75,
 'train': 998083,
 'train_items': 3706,
 'train_users': 6040}

 33%|███▎      | 1/3 [00:04<00:08,  4.50s/it]

==================== Fold 1
{'end': Timestamp('2003-02-15 00:00:00', freq='14D'),
 'i_split': 1,
 'start': Timestamp('2003-02-01 00:00:00', freq='14D'),
 'test': 899,
 'test_items': 704,
 'test_users': 57,
 'train': 998713,
 'train_items': 3706,
 'train_users': 6040}

 67%|██████▋   | 2/3 [00:07<00:03,  3.86s/it]

==================== Fold 2
{'end': Timestamp('2003-03-01 00:00:00', freq='14D'),
 'i_split': 2,
 'start': Timestamp('2003-02-15 00:00:00', freq='14D'),
 'test': 597,
 'test_items': 501,
 'test_users': 66,
 'train': 999612,
 'train_items': 3706,
 'train_users': 6040}

100%|██████████| 3/3 [00:11<00:00,  3.88s/it]

[{'fold': 0,
  'model': 'random',
  'recall-1': 0.0,
  'precision-1': 0.0,
  'recall-5': 0.0,
  'precision-5': 0.0,
  'recall-10': 0.0,
  'precision-10': 0.0,
  'ndcg-1': 0.0,
  'ndcg-5': 0.0,
  'ndcg-10': 0.0,
  'map-1': 0.0,
  'map-5': 0.0,
  'map-10': 0.0,
  'miuf-1': 6.792791444243799,
  'miuf-5': 6.452971462924063,
  'miuf-10': 6.5396220635395075,
  'serendipity-1': 0.0,
  'serendipity-5': 0.0,
  'serendipity-10': 0.0},
 {'fold': 0,
  'model': 'popular',
  'recall-1': 0.023333333333333334,
  'precision-1': 0.05333333333333334,
  'recall-5': 0.03003439887621201,
  'precision-5': 0.026666666666666672,
  'recall-10': 0.03740973721177236,
  'precision-10': 0.023999999999999997,
  'ndcg-1': 0.05333333333333334,
  'ndcg-5': 0.02988932534152588,
  'ndcg-10': 0.027093409440312886,
  'map-1': 0.023333333333333334,
  'map-5': 0.024995873162709424,
  'map-10': 0.02644635258358663,
  'miuf-1': 1.2287521179461294,
  'miuf-5': 1.4426186132151129,
  'miuf-10': 1.5807359233879539,
  'serendipity-1': 0.00015110631408526753,
  'serendipity-5': 9.282245008095025e-05,
  'serendipity-10': 0.0001230437128980036},
 {'fold': 0,
  'model': 'most_raited',
  'recall-1': 0.023333333333333334,
  'precision-1': 0.05333333333333334,
  'recall-5': 0.028748346866755745,
  'precision-5': 0.02933333333333333,
  'recall-10': 0.04225134477678418,
  'precision-10': 0.02666666666666667,
  'ndcg-1': 0.05333333333333334,
  'ndcg-5': 0.03285778861083607,
  'ndcg-10': 0.02937915402590819,
  'map-1': 0.023333333333333334,
  'map-5': 0.02561357796279165,
  'map-10': 0.02775207350685046,
  'miuf-1': 1.240333639400789,
  'miuf-5': 1.4553142650466335,
  'miuf-10': 1.5925431714409506,
  'serendipity-1': 0.00015110631408526753,
  'serendipity-5': 0.00010937218924266999,
  'serendipity-10': 0.00015146609102356583},
 {'fold': 0,
  'model': 'tfidf_k=5',
  'recall-1': 0.009333333333333332,
  'precision-1': 0.05333333333333334,
  'recall-5': 0.01608168020008908,
  'precision-5': 0.029333333333333336,
  'recall-10': 0.023865993925579275,
  'precision-10': 0.021333333333333333,
  'ndcg-1': 0.05333333333333334,
  'ndcg-5': 0.03293820377047944,
  'ndcg-10': 0.025900879692989497,
  'map-1': 0.009333333333333332,
  'map-5': 0.011331860074690786,
  'map-10': 0.01279894690942468,
  'miuf-1': 1.9054869225863138,
  'miuf-5': 2.134115587401312,
  'miuf-10': 2.3611893254862615,
  'serendipity-1': 0.0015614319122144267,
  'serendipity-5': 0.0004835402050728549,
  'serendipity-10': 0.00046483180428134576},
 {'fold': 0,
  'model': 'tfidf_k=10',
  'recall-1': 0.004000000000000001,
  'precision-1': 0.02666666666666667,
  'recall-5': 0.018205673758865244,
  'precision-5': 0.02666666666666667,
  'recall-10': 0.03992615769712139,
  'precision-10': 0.021333333333333336,
  'ndcg-1': 0.02666666666666667,
  'ndcg-5': 0.026154999665007117,
  'ndcg-10': 0.022663915247302206,
  'map-1': 0.004000000000000001,
  'map-5': 0.007857368006304176,
  'map-10': 0.011410301236333777,
  'miuf-1': 1.8594451871873048,
  'miuf-5': 1.954196404718496,
  'miuf-10': 2.1374512956864504,
  'serendipity-1': 0.0012448282065119617,
  'serendipity-5': 0.0004238172333153441,
  'serendipity-10': 0.00032667745997481555},
 {'fold': 0,
  'model': 'bm25_k=10_k1=0.05_b=0.1',
  'recall-1': 0.016666666666666666,
  'precision-1': 0.02666666666666667,
  'recall-5': 0.03236773220954535,
  'precision-5': 0.026666666666666672,
  'recall-10': 0.04664484188165965,
  'precision-10': 0.02933333333333333,
  'ndcg-1': 0.02666666666666667,
  'ndcg-5': 0.028675988028186758,
  'ndcg-10': 0.029515560312907533,
  'map-1': 0.016666666666666666,
  'map-5': 0.022971037333972887,
  'map-10': 0.025077379728744204,
  'miuf-1': 1.3118004849502742,
  'miuf-5': 1.5662443420946872,
  'miuf-10': 1.781881205653653,
  'serendipity-1': 6.475984889368588e-05,
  'serendipity-5': 0.00016189962223421442,
  'serendipity-10': 0.0002709120345385858},
 {'fold': 1,
  'model': 'random',
  'recall-1': 0.0,
  'precision-1': 0.0,
  'recall-5': 0.0,
  'precision-5': 0.0,
  'recall-10': 0.017543859649122806,
  'precision-10': 0.0017543859649122807,
  'ndcg-1': 0.0,
  'ndcg-5': 0.0,
  'ndcg-10': 0.0013754082276960587,
  'map-1': 0.0,
  'map-5': 0.0,
  'map-10': 0.0029239766081871343,
  'miuf-1': 6.883890479919309,
  'miuf-5': 6.4516427327384,
  'miuf-10': 6.489884571495776,
  'serendipity-1': 0.0,
  'serendipity-5': 0.0,
  'serendipity-10': 5.396654074473829e-05},
 {'fold': 1,
  'model': 'popular',
  'recall-1': 0.0016513466546777674,
  'precision-1': 0.05263157894736842,
  'recall-5': 0.005107275308375064,
  'precision-5': 0.05964912280701755,
  'recall-10': 0.015707029308143088,
  'precision-10': 0.05789473684210527,
  'ndcg-1': 0.05263157894736842,
  'ndcg-5': 0.05790851193244123,
  'ndcg-10': 0.057296833116396204,
  'map-1': 0.0016513466546777674,
  'map-5': 0.0032688761186443777,
  'map-10': 0.0054354812371850475,
  'miuf-1': 1.2364778980154243,
  'miuf-5': 1.4434883649309138,
  'miuf-10': 1.5884137454689444,
  'serendipity-1': 0.00019409019039774296,
  'serendipity-5': 0.00014201721248615338,
  'serendipity-10': 0.00018272881339885085},
 {'fold': 1,
  'model': 'most_raited',
  'recall-1': 0.0003018189893606283,
  'precision-1': 0.03508771929824561,
  'recall-5': 0.003645287004281497,
  'precision-5': 0.056140350877192984,
  'recall-10': 0.009918668187371998,
  'precision-10': 0.056140350877192984,
  'ndcg-1': 0.03508771929824561,
  'ndcg-5': 0.05273738836795181,
  'ndcg-10': 0.054325368100851645,
  'map-1': 0.0003018189893606283,
  'map-5': 0.002276342019076084,
  'map-10': 0.004087342245737799,
  'miuf-1': 1.247684248272613,
  'miuf-5': 1.4583918936487608,
  'miuf-10': 1.6006279612022085,
  'serendipity-1': 0.0,
  'serendipity-5': 0.00010793308148947658,
  'serendipity-10': 0.00015479876160990716},
 {'fold': 1,
  'model': 'tfidf_k=5',
  'recall-1': 0.00042973595605174547,
  'precision-1': 0.05263157894736842,
  'recall-5': 0.008220261789811915,
  'precision-5': 0.05964912280701754,
  'recall-10': 0.048591489360456146,
  'precision-10': 0.05789473684210527,
  'ndcg-1': 0.05263157894736842,
  'ndcg-5': 0.05816927109613183,
  'ndcg-10': 0.05792917688803314,
  'map-1': 0.00042973595605174547,
  'map-5': 0.003235876244805964,
  'map-10': 0.009351290870686167,
  'miuf-1': 1.921826711026883,
  'miuf-5': 2.1679586992291404,
  'miuf-10': 2.3261163377380436,
  'serendipity-1': 0.0007290216907622537,
  'serendipity-5': 0.0011086810388085703,
  'serendipity-10': 0.002616430444703231},
 {'fold': 1,
  'model': 'tfidf_k=10',
  'recall-1': 0.00042973595605174547,
  'precision-1': 0.05263157894736842,
  'recall-5': 0.008088353070645576,
  'precision-5': 0.056140350877192984,
  'recall-10': 0.010032924304988542,
  'precision-10': 0.05263157894736842,
  'ndcg-1': 0.05263157894736842,
  'ndcg-5': 0.054933422412497226,
  'ndcg-10': 0.05305536429294924,
  'map-1': 0.00042973595605174547,
  'map-5': 0.0028119575009367776,
  'map-10': 0.004161401343021283,
  'miuf-1': 1.7384064979457212,
  'miuf-5': 1.9894448117634669,
  'miuf-10': 2.143504142765339,
  'serendipity-1': 0.0006106740136904602,
  'serendipity-5': 0.0006996714668484488,
  'serendipity-10': 0.0009174311926605506},
 {'fold': 1,
  'model': 'bm25_k=10_k1=0.05_b=0.1',
  'recall-1': 0.000540054130642861,
  'precision-1': 0.07017543859649122,
  'recall-5': 0.003921667543819932,
  'precision-5': 0.056140350877192984,
  'recall-10': 0.010320823229416236,
  'precision-10': 0.05964912280701754,
  'ndcg-1': 0.07017543859649122,
  'ndcg-5': 0.05765097478442386,
  'ndcg-10': 0.059500976977341406,
  'map-1': 0.000540054130642861,
  'map-5': 0.00218641808558616,
  'map-10': 0.004089222890695861,
  'miuf-1': 1.3011259931128047,
  'miuf-5': 1.5789327652604321,
  'miuf-10': 1.8094164875617524,
  'serendipity-1': 9.941204874030856e-05,
  'serendipity-5': 0.00018935628331487192,
  'serendipity-10': 0.00034131470067505596},
 {'fold': 2,
  'model': 'random',
  'recall-1': 0.0,
  'precision-1': 0.0,
  'recall-5': 0.0007974481658692185,
  'precision-5': 0.0030303030303030303,
  'recall-10': 0.0009561027747856074,
  'precision-10': 0.004545454545454546,
  'ndcg-1': 0.0,
  'ndcg-5': 0.0019879557198839667,
  'ndcg-10': 0.003305986784505303,
  'map-1': 0.0,
  'map-5': 0.0001594896331738437,
  'map-10': 0.0001852710071227569,
  'miuf-1': 7.091923443109621,
  'miuf-5': 6.531398161195823,
  'miuf-10': 6.535055416793502,
  'serendipity-1': 0.0,
  'serendipity-5': 0.00034342344110287974,
  'serendipity-10': 0.0006075324208081898},
 {'fold': 2,
  'model': 'popular',
  'recall-1': 0.001318378591105864,
  'precision-1': 0.045454545454545456,
  'recall-5': 0.00928342905535139,
  'precision-5': 0.04545454545454545,
  'recall-10': 0.03998411752019977,
  'precision-10': 0.04242424242424242,
  'ndcg-1': 0.045454545454545456,
  'ndcg-5': 0.046127366092389696,
  'ndcg-10': 0.043699455580173484,
  'map-1': 0.001318378591105864,
  'map-5': 0.0050066111852603585,
  'map-10': 0.00904209279042604,
  'miuf-1': 1.3195916067202909,
  'miuf-5': 1.5211796368444763,
  'miuf-10': 1.6566376578061555,
  'serendipity-1': 1.2265122896532537e-05,
  'serendipity-5': 0.0002559322311076231,
  'serendipity-10': 0.0004501300103027036},
 {'fold': 2,
  'model': 'most_raited',
  'recall-1': 0.001318378591105864,
  'precision-1': 0.045454545454545456,
  'recall-5': 0.010581512219212753,
  'precision-5': 0.045454545454545456,
  'recall-10': 0.024520628856449338,
  'precision-10': 0.03939393939393939,
  'ndcg-1': 0.045454545454545456,
  'ndcg-5': 0.04715642540893244,
  'ndcg-10': 0.04227150404770985,
  'map-1': 0.001318378591105864,
  'map-5': 0.0057421040041360895,
  'map-10': 0.008492432624362972,
  'miuf-1': 1.3335960684533419,
  'miuf-5': 1.5341117564353084,
  'miuf-10': 1.6681081982403094,
  'serendipity-1': 1.2265122896532537e-05,
  'serendipity-5': 0.0002771917774616104,
  'serendipity-10': 0.00033197599306611727},
 {'fold': 2,
  'model': 'tfidf_k=5',
  'recall-1': 0.005546901096335392,
  'precision-1': 0.09090909090909091,
  'recall-5': 0.029161554614991203,
  'precision-5': 0.05454545454545456,
  'recall-10': 0.03960590857136325,
  'precision-10': 0.05,
  'ndcg-1': 0.09090909090909091,
  'ndcg-5': 0.06135819468301042,
  'ndcg-10': 0.056030271549555595,
  'map-1': 0.005546901096335392,
  'map-5': 0.01241751487244935,
  'map-10': 0.01607078927987144,
  'miuf-1': 2.007340357320713,
  'miuf-5': 2.1973559290077693,
  'miuf-10': 2.3789877971109377,
  'serendipity-1': 0.00183568006018087,
  'serendipity-5': 0.0016394380938363658,
  'serendipity-10': 0.0015000245302457921},
 {'fold': 2,
  'model': 'tfidf_k=10',
  'recall-1': 0.0038581873333182236,
  'precision-1': 0.06060606060606061,
  'recall-5': 0.034765435285716795,
  'precision-5': 0.06363636363636364,
  'recall-10': 0.05353102602001291,
  'precision-10': 0.051515151515151514,
  'ndcg-1': 0.06060606060606061,
  'ndcg-5': 0.0670296182011609,
  'ndcg-10': 0.057471016580099094,
  'map-1': 0.0038581873333182236,
  'map-5': 0.018780754068857698,
  'map-10': 0.02223491369878964,
  'miuf-1': 1.8905598543794984,
  'miuf-5': 2.0619907941817304,
  'miuf-10': 2.2069212290765483,
  'serendipity-1': 0.0011283913064808909,
  'serendipity-5': 0.001578930154213478,
  'serendipity-10': 0.0013463016566092655},
 {'fold': 2,
  'model': 'bm25_k=10_k1=0.05_b=0.1',
  'recall-1': 0.0055556037842134105,
  'precision-1': 0.09090909090909091,
  'recall-5': 0.02679273799433667,
  'precision-5': 0.045454545454545456,
  'recall-10': 0.038425713736665104,
  'precision-10': 0.039393939393939405,
  'ndcg-1': 0.09090909090909091,
  'ndcg-5': 0.054642193446408714,
  'ndcg-10': 0.04756882193423958,
  'map-1': 0.0055556037842134105,
  'map-5': 0.012865372357963421,
  'map-10': 0.015743396393588852,
  'miuf-1': 1.4222195027596272,
  'miuf-5': 1.677371742757866,
  'miuf-10': 1.9013157591861718,
  'serendipity-1': 0.00038839555839016336,
  'serendipity-5': 0.00036795368689594346,
  'serendipity-10': 0.00039749219120508925}]

### Визуализируем

In [117]:
THRESHOLD=4

def render_stats(model, dataset, user_ids, item_data):
    recommendations = model.recommend(
        k=K_RECOS,
        filter_viewed=True,
        dataset=dataset,
        users=user_ids,
    )

    ### Считаем взаимодействия с фильмами
    dataset.interactions.df["interactions"] = dataset.interactions.df.groupby('item_id')['item_id'].transform('count')
    
    views = dataset.interactions.df[dataset.interactions.df.user_id.isin(
        dataset.user_id_map.convert_to_internal(user_ids))].merge(item_data, on="item_id")
    views.user_id = dataset.user_id_map.convert_to_external(views.user_id)

    recommendations.item_id = dataset.item_id_map.convert_to_internal(recommendations.item_id.values)
    recommendations = recommendations.merge(dataset.interactions.df[["item_id", "interactions"]].drop_duplicates(), on="item_id")
    recommendations.item_id = dataset.item_id_map.convert_to_external(recommendations.item_id.values)

    recos_for_user = recommendations.merge(item_data, on="item_id").drop(columns=["score"])

    for user_id in user_ids:
        print('ID', user_id)
        print('Рекомендации для пользователя:')
        display(recos_for_user[recos_for_user.user_id == user_id].drop("user_id", axis=1))

        print("Просмотренные пользователем фильмы:")
        display(views[(views.user_id == user_id) & (views.weight >= THRESHOLD)].tail(K_RECOS))

In [118]:
dataset = Dataset.construct(interactions.df)
model = PopularModel()
model.fit(dataset)
user_ids = [1, 2, 3]
render_stats(model, dataset, user_ids, movies)

ID 1
Рекомендации для пользователя:

,item_id,rank,interactions,title,genres
0,2858,1,3428,American Beauty (1999),Comedy|Drama
1,1196,2,2990,Star Wars: Episode V - The Empire Strikes Back...,Action|Adventure|Drama|Sci-Fi|War
2,1210,3,2883,Star Wars: Episode VI - Return of the Jedi (1983),Action|Adventure|Romance|Sci-Fi|War
3,480,4,2672,Jurassic Park (1993),Action|Adventure|Sci-Fi
4,589,5,2649,Terminator 2: Judgment Day (1991),Action|Sci-Fi|Thriller
6,2571,6,2590,"Matrix, The (1999)",Action|Sci-Fi|Thriller
8,593,7,2578,"Silence of the Lambs, The (1991)",Drama|Thriller
9,1580,8,2538,Men in Black (1997),Action|Adventure|Comedy|Sci-Fi
11,1198,9,2514,Raiders of the Lost Ark (1981),Action|Adventure
12,110,10,2443,Braveheart (1995),Action|Drama|War

Просмотренные пользователем фильмы:

,user_id,item_id,weight,datetime,interactions,title,genres
49,1,43,4.0,2000-12-31 22:26:10,1072,Restoration (1995),Drama
50,1,44,4.0,2000-12-31 22:12:40,2991,Mortal Kombat (1995),Action|Adventure
52,1,45,5.0,2000-12-31 22:29:37,1011,To Die For (1995),Comedy|Drama
53,1,46,5.0,2000-12-31 22:36:45,568,How to Make an American Quilt (1995),Drama|Romance
54,1,47,4.0,2000-12-31 22:11:59,928,Seven (Se7en) (1995),Crime|Thriller
56,1,48,5.0,2000-12-31 22:26:59,2653,Pocahontas (1995),Animation|Children's|Musical|Romance
58,1,49,4.0,2000-12-31 22:35:49,338,When Night Is Falling (1995),Drama|Romance
59,1,50,4.0,2000-12-31 22:36:14,1585,"Usual Suspects, The (1995)",Crime|Thriller
61,1,51,4.0,2000-12-31 22:23:18,2513,Guardian Angel (1994),Action|Drama|Thriller
62,1,52,4.0,2000-12-31 22:34:51,855,Mighty Aphrodite (1995),Comedy

ID 2
Рекомендации для пользователя:

,item_id,rank,interactions,title,genres
10,1580,3,2538,Men in Black (1997),Action|Adventure|Comedy|Sci-Fi
14,260,1,2991,Star Wars: Episode IV - A New Hope (1977),Action|Adventure|Fantasy|Sci-Fi
15,1270,2,2583,Back to the Future (1985),Comedy|Sci-Fi
16,608,4,2513,Fargo (1996),Crime|Drama|Thriller
18,2762,5,2459,"Sixth Sense, The (1999)",Thriller
20,1197,6,2318,"Princess Bride, The (1987)",Action|Adventure|Comedy|Romance
21,527,7,2304,Schindler's List (1993),Drama|War
23,1617,8,2288,L.A. Confidential (1997),Crime|Film-Noir|Mystery|Thriller
25,1097,9,2269,E.T. the Extra-Terrestrial (1982),Children's|Drama|Fantasy|Sci-Fi
27,2997,10,2241,Being John Malkovich (1999),Comedy

Просмотренные пользователем фильмы:

,user_id,item_id,weight,datetime,interactions,title,genres
175,2,155,4.0,2000-12-31 21:57:19,1377,Beyond Rangoon (1995),Drama|War
176,2,156,4.0,2000-12-31 21:56:49,1417,Blue in the Face (1995),Comedy
178,2,158,4.0,2000-12-31 21:42:04,350,Casper (1995),Adventure|Children's
179,2,159,4.0,2000-12-31 21:35:17,521,Clockers (1995),Drama
183,2,163,5.0,2000-12-31 22:01:40,802,Desperado (1995),Action|Romance|Thriller
184,2,164,5.0,2000-12-31 21:40:41,1424,Devil in a Blue Dress (1995),Crime|Film-Noir|Mystery|Thriller
185,2,165,4.0,2000-12-31 21:32:52,160,Die Hard: With a Vengeance (1995),Action|Thriller
188,2,167,5.0,2000-12-31 21:33:33,2227,Feast of July (1995),Drama
193,2,171,5.0,2000-12-31 21:54:46,2194,Jeffrey (1995),Comedy
196,2,174,5.0,2000-12-31 21:37:32,1261,Jury Duty (1995),Comedy

ID 3
Рекомендации для пользователя:

,item_id,rank,interactions,title,genres
5,589,2,2649,Terminator 2: Judgment Day (1991),Action|Sci-Fi|Thriller
7,2571,3,2590,"Matrix, The (1999)",Action|Sci-Fi|Thriller
13,110,6,2443,Braveheart (1995),Action|Drama|War
17,608,4,2513,Fargo (1996),Crime|Drama|Thriller
19,2762,5,2459,"Sixth Sense, The (1999)",Thriller
22,527,8,2304,Schindler's List (1993),Drama|War
24,1617,9,2288,L.A. Confidential (1997),Crime|Film-Noir|Mystery|Thriller
26,1097,10,2269,E.T. the Extra-Terrestrial (1982),Children's|Drama|Fantasy|Sci-Fi
28,2028,1,2653,Saving Private Ryan (1998),Action|Drama|War
29,2396,7,2369,Shakespeare in Love (1998),Comedy|Romance

Просмотренные пользователем фильмы:

,user_id,item_id,weight,datetime,interactions,title,genres
219,3,197,4.0,2000-12-31 21:16:59,369,"Stars Fell on Henrietta, The (1995)",Drama
220,3,198,5.0,2000-12-31 21:34:19,967,Strange Days (1995),Action|Crime|Sci-Fi
221,3,199,5.0,2000-12-31 21:29:26,1419,"Umbrellas of Cherbourg, The (Parapluies de Che...",Drama|Musical
222,3,200,4.0,2000-12-31 21:22:57,912,"Tie That Binds, The (1995)",Thriller
223,3,201,4.0,2000-12-31 21:19:30,485,Three Wishes (1995),Drama
225,3,203,5.0,2000-12-31 21:16:59,1119,"To Wong Foo, Thanks for Everything! Julie Newm...",Comedy
226,3,204,4.0,2000-12-31 21:18:59,729,Under Siege 2: Dark Territory (1995),Action
227,3,205,4.0,2000-12-31 21:22:57,1127,Unstrung Heroes (1995),Comedy|Drama
228,3,206,5.0,2000-12-31 21:27:59,1599,Unzipped (1995),Documentary
229,3,207,4.0,2000-12-31 21:35:04,1035,"Walk in the Clouds, A (1995)",Drama|Romance